.chatPreviewContainer {
  border-bottom: 1px solid var(--LIGHT-GREY-CLR);
  display: flex;
  gap: var(--MEDIUM-GAP);
  padding: var(--MIN-PADDING) var(--MEDIUM-PADDING);
}

.lastMessagePreview {
  font-size: var(--SMALL-FONT-SIZE);
  opacity: var(--FADED-TEXT-OPACITY);
}

.smallProfilePicturePreviewContainer {
  width: 3rem;
}

.smallProfilePicturePreview {
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-weight: 600;
}

.nameTimeChatPreview {
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--MIN-GAP);
  justify-content: center;
}

.nameAndTimeContainer {
  align-items: center;
  display: flex;
  gap: var(--MIN-GAP);
  justify-content: space-between;
}

.lastMessageTime {
  font-size: var(--SMALL-FONT-SIZE);
  opacity: var(--FADED-TEXT-OPACITY);
}
