.postCardContainer {
  box-shadow: 0px 0px 10px #0002;
  padding: var(--MEDIUM-PADDING);
  width: min(100%, 35rem);
}

.postingAccountDetailsContainer {
  align-items: center;
  display: flex;
  gap: var(--MIN-GAP);
}

.postCardHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profilePicturePreview {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 2rem;
}

.postMediaContainer {
  aspect-ratio: 1;
  pointer-events: none;
  position: relative;
  width: 100%;
}

.postWrittenTextContainer {
  font-weight: 600;
  line-height: 1.5;
  max-width: 100%;
}

.latestCommentsPreviewContainer {
  display: flex;
  flex-direction: column;
  gap: var(--MIN-GAP);
  opacity: var(--FADED-TEXT-OPACITY);
}

.latestCommentPreview {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}

.postTextContentContainer {
  background: var(--SECONDARY-BACKGROUND-CLR);
  color: var(--SECONDARY-FONT-CLR);
  display: flex;
  flex-direction: column;
  gap: var(--MEDIUM-GAP);
  padding: var(--MEDIUM-PADDING);
}

.actionBar {
  display: flex;
  font-size: var(--LARGE-FONT-SIZE);
  justify-content: space-between;
}

.actionBar button:first-child {
  margin-inline-end: 1.5rem;
}

.addCommentInput {
  background: var(--SECONDARY-BACKGROUND-CLR);
  color: var(--SECONDARY-FONT-CLR);
  flex-grow: 1;
  padding: var(--MIN-PADDING) 0;
}

.commentButton {
  font-size: var(--SMALL-FONT-SIZE);
  font-weight: 600;
  padding: 0 0.8rem;
  text-transform: uppercase;
}

.commentActionBar {
  display: flex;
  gap: var(--MEDIUM-GAP);
}

.postAge {
  font-size: var(--SMALL-FONT-SIZE);
  opacity: var(--FADED-TEXT-OPACITY);
}

.caption {
  word-break: break-all;
}

.category {
  align-self: flex-start;
  border-radius: var(--BORDER-RADIUS);
  background: #6c6c6c69;
  font-weight: 400;
  padding: 0.3rem 0.5rem;
}

.postTitleCategoryContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: var(--MEDIUM-GAP);
}

.updateButton {
  text-align: center;
}

.updateCaptionInput {
  width: 100%;
}

.updateImagePreviewContainer {
  aspect-ratio: 1;
  position: relative;
  width: 100%;
}

.updateImagePreviewContainer::after {
  background: #000;
  content: "";
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.addImageLabel {
  background: var(--SECONDARY-BACKGROUND-CLR);
  border-radius: var(--BORDER-RADIUS);
  color: var(--SECONDARY-FONT-CLR);
  cursor: pointer;
  display: block;
  margin: 0 auto 1rem;
  padding: var(--MIN-PADDING) var(--MEDIUM-PADDING);
  width: fit-content;
}

.addImageInput {
  display: none;
}

.changeImageLabel {
  background: unset;
  font-weight: 500;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cancelEditButton {
  margin: auto;
  font-size: var(--SMALL-FONT-SIZE);
  text-align: center;
  text-decoration: underline;
  width: fit-content;
}

.disabledCommentText {
  font-size: var(--SMALL-FONT-SIZE);
  margin: 0.5rem 0;
  opacity: var(--FADED-TEXT-OPACITY);
  text-align: center;
}

.deletePostText {
  color: var(--RED-CLR);
}
