.tooltipContainer {
  position: relative;
  z-index: 1;
}

.tooltipMenu {
  background: #000000d4;
  display: flex;
  color: #fff;
  flex-direction: column;
  font-size: 0.9rem;
  min-width: 10rem;
  max-width: 15rem;
  position: absolute;
  top: 100%;
  right: 100%;
  width: max-content;
}

.tooltipMenuItem {
  padding: var(--MIN-PADDING) var(--MEDIUM-PADDING);
  transition: background 150ms;
}

.tooltipMenuItem:hover {
  background: #000000d6;
  cursor: pointer;
}

.tooltipToggleButton {
  font-size: 1.1rem;
  padding: 5px;
}
