.profileSection {
  align-items: center;
  border-bottom: 1px solid var(--LIGHT-GREY-CLR);
  display: flex;
  flex-direction: column;
  gap: var(--LARGE-GAP);
  padding: var(--MEDIUM-PADDING) 0;
}

.profileSectionUpper {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.profilePictureUsernameContainer {
  align-self: center;
}

.profilePicture {
  aspect-ratio: 1;
  display: block;
  margin: auto;
  width: 10rem;
}

.username {
  margin-top: var(--MEDIUM-SPACING);
  text-align: center;
}

.nameBioInputContainer {
  display: flex;
  flex-direction: column;
  gap: var(--MEDIUM-GAP);
}

.profileUpdatingInputContainer {
  margin-top: var(--LARGE-GAP);
  position: relative;
}

.profileUpdatingInputContainer.notAdmin {
  pointer-events: none;
}

.profileUpdatingInputContainer label {
  position: absolute;
  left: var(--INPUT-PADDING);
  transform: translateY(calc(-100% - 3px));
}

.profileUpdatingInput {
  background: var(--LIGHT-GREY-CLR);
  border: 2px solid #0000;
  border-radius: var(--BORDER-RADIUS);
  padding: var(--INPUT-PADDING);
}

textarea.profileUpdatingInput {
  width: 20rem;
  height: 5rem;
}

.profileUpdatingInput:focus-within {
  border-color: var(--ACCENT-CLR);
}

.userStatsContainer {
  display: flex;
  font-weight: 600;
  gap: var(--LARGE-GAP);
  text-transform: uppercase;
}

.topButtonsContainer {
  font-size: 1.2rem;
  gap: var(--LARGE-GAP);
}

.profileSectionButtonContainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profilePictureInput {
  display: none;
}

.profilePictureUpdateContainer {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.profilePictureUpdateContainer:hover .profilePictureUpdateOverlay {
  background: #0005;
}

.profilePictureUpdateOverlayText {
  opacity: 0;
}

.profilePictureUpdateContainer:hover .profilePictureUpdateOverlayText {
  opacity: 1;
}

.profilePictureUpdateOverlay {
  align-items: center;
  background: #0000;
  color: #fff;
  display: flex;
  font-weight: 600;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: background 250ms;
}

.userDetailCategoryButton {
  border-radius: var(--BORDER-RADIUS);
  padding: var(--MIN-PADDING) var(--MEDIUM-PADDING);
}

.userDetailCategoryButton.isShowing {
  background: var(--LIGHT-GREY-CLR);
}

.categorySection {
  gap: var(--LARGE-GAP);
  margin: auto;
  padding: 1rem 0;
  width: min(35rem, 100%);
}

.blockUserText {
  color: var(--RED-CLR);
}

.blockUserTooltipItem {
  align-items: center;
  display: flex;
  gap: var(--LARGE-GAP);
  justify-content: space-between;
}
