.postsContainer,
.connectionsContainer {
  align-items: center;
  align-self: normal;
  display: flex;
  flex-direction: column;
  gap: var(--MEDIUM-GAP);
}

.connectionContainer {
  background: #0001;
  border-radius: var(--BORDER-RADIUS);
  cursor: pointer;
  padding: var(--MIN-PADDING) var(--MEDIUM-PADDING);
  transition: all 150ms ease-in;
  width: 100%;
}

.connectionContainer:hover {
  transform: scale(1.015);
}

.username {
  font-weight: 700;
  opacity: var(--FADED-TEXT-OPACITY);
}

.fakePic {
  aspect-ratio: 1;
  border-radius: 50%;
  background: red;
  width: 3rem;
}

.connectionButton {
  margin-left: auto;
}

.connectionUserDetails {
  align-items: center;
  display: flex;
  gap: var(--MEDIUM-GAP);
}

.connectionNameUsernameContainer {
  display: flex;
  gap: var(--MIN-GAP);
  margin-bottom: 5px;
}

.connectionStatus {
  background: #0000;
  display: block;
  margin-inline-start: auto;
  opacity: 0.5;
  width: fit-content;
}

.connectionUserBio {
  display: block;
  max-width: 40ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.emptyCategoryTextContainer {
  font-weight: 700;
  opacity: var(--FADED-TEXT-OPACITY);
  text-align: center;
}

.categoryFilterDropdown {
  background: var(--SECONDARY-BACKGROUND-CLR);
  color: var(--SECONDARY-FONT-CLR);
  display: block;
  margin: 0 0 1rem auto;
  text-align: center;
}

.connectionUserImageContainer {
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  width: 3rem;
}
