.createPostContainer {
  background: #f0f8ff;
  border-radius: calc(var(--BORDER-RADIUS) + var(--MEDIUM-PADDING));
  display: flex;
  flex-direction: column;
  gap: var(--MEDIUM-GAP);
  padding: var(--MEDIUM-PADDING) var(--LARGE-PADDING);
  width: min(100%, 35rem);
}

.postInputTextAreaContainer {
  background: #0001;
  border-radius: var(--BORDER-RADIUS);
  position: relative;
}

.postInputTextArea {
  padding: var(--MIN-PADDING);
  width: calc(100% - (var(--MIN-PADDING) * 2));
}

.wordCounter {
  font-size: var(--SMALL-FONT-SIZE);
  opacity: 0.6;
  position: absolute;
  right: var(--MIN-PADDING);
  bottom: var(--MIN-PADDING);
}

.iconButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: var(--MEDIUM-GAP);
}

.headingAndCloseButtonContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.utilitiesContainer {
  align-items: center;
  display: flex;
  gap: var(--LARGE-GAP);
  justify-content: space-between;
}

.uploadedImagePreviewContainer {
  border-radius: var(--BORDER-RADIUS);
  height: 30rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.uploadedImagePreviewContainer::after {
  background: #000;
  content: "";
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 150ms;
  z-index: 1;
}

.uploadedImagePreviewContainer:hover::after {
  opacity: 0.3;
}

.uploadedImagePreviewContainer img {
  display: block;
}

.labelForPostImage {
  cursor: pointer;
  position: relative;
}

.inputForPostImage {
  opacity: 0;
  position: absolute;
  left: -200vw;
}

.giphyGridContainer {
  max-height: 25rem;
  overflow: hidden auto;
}

.giphyTopBar {
  align-items: center;
  display: flex;
  gap: var(--MEDIUM-GAP);
  margin-bottom: var(--MIN-SPACING);
}

.giphySearchBar {
  background: #0001;
  border-radius: var(--BORDER-RADIUS);
  flex-grow: 1;
  padding: var(--MIN-PADDING);
  text-align: center;
}
