.userProfileCard {
  align-items: center;
  background: var(--DARK-GREY-CLR);
  border-radius: calc(var(--BORDER-RADIUS) + var(--MEDIUM-PADDING));
  display: flex;
  flex-direction: column;
  gap: var(--MEDIUM-GAP);
  margin: auto;
  padding: var(--MEDIUM-PADDING);
  position: relative;
  width: min(100%, 20rem);
}

.nameUsernameContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--MIN-GAP);
}

.profilePicturePreview {
  aspect-ratio: 1;
  border-radius: 50%;
  width: 5rem;
}

.userStatsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--MEDIUM-GAP);
}

.userStatsBox {
  align-items: center;
  border-radius: var(--BORDER-RADIUS);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.statsNumber {
  font-size: var(--LARGER-FONT-SIZE);
  font-weight: 600;
}
