.loginForm {
  display: flex;
  flex-direction: column;
  gap: var(--MEDIUM-GAP);
}

.toSignupButton {
  width: 100%;
  margin: 10px 0;
}

.rememberLoginLabel {
  font-size: var(--SMALL-FONT-SIZE);
}
