.textButton {
  font-size: 0.85em;
}

.textButton:hover {
  text-decoration: underline;
}

.primaryButton {
  background: var(--ACCENT-CLR);
  color: var(--PRIMARY-FONT-CLR);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
