.username {
  font-weight: 600;
  opacity: var(--FADED-TEXT-OPACITY);
}

.authInput {
  border-bottom: 1px solid currentColor;
  padding: var(--INPUT-PADDING);
  width: -webkit-fill-available;
}

.authInput::placeholder {
  color: currentColor;
}

.animatedInputLabelContainer {
  margin-top: 1rem;
  position: relative;
}

.animatedLabel {
  pointer-events: none;
  position: absolute;
  top: var(--INPUT-PADDING);
  left: var(--INPUT-PADDING);
  transition: all 150ms;
}

.animatedLabel.labelIsAnimated {
  color: var(--ACCENT-CLR);
  top: 0;
  transform: translateY(-100%) scale(0.9);
}

.animatedInputLabelContainer .sideButton {
  position: absolute;
  right: var(--INPUT-PADDING);
  top: var(--INPUT-PADDING);
}

.authBoxContainer {
  margin: auto;
}

.authBoxContainer button {
  text-align: center;
}

.otherAuthOptionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--MEDIUM-GAP);
  margin-top: 3rem;
}

.styledDropdown {
  border-radius: var(--BORDER-RADIUS);
  cursor: pointer;
  font-size: var(--SMALL-FONT-SIZE);
  padding: 5px 10px;
}

.buttonLoaderContainer {
  align-items: center;
  aspect-ratio: 1;
  cursor: default;
  display: flex;
  justify-content: center;
  height: 1rem;
  position: relative;
  width: 3rem;
}

.pagePostsSection {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 var(--HOME-SIDEBARS-WIDTH);
  padding: var(--MEDIUM-PADDING);
}

.chipContainer {
  display: flex;
  gap: var(--MEDIUM-GAP);
  margin: 2rem 0;
}

.chip {
  background: #0001;
  border-radius: var(--BORDER-RADIUS);
  padding: var(--MIN-PADDING);
}

.chipActive {
  background: var(--SECONDARY-BACKGROUND-CLR);
  color: var(--SECONDARY-FONT-CLR);
}

.chip:not(.chipActive):hover {
  background: #0005;
}

.postsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--LARGE-GAP);
  width: 100%;
}

@media (max-width: 950px) {
  .pagePostsSection {
    margin: 0;
  }
}
