:root {
  --ACCENT-CLR: #4df7ff;
  --PRIMARY-BACKGROUND-CLR: #fff;
  --PRIMARY-FONT-CLR: #000;
  --SECONDARY-BACKGROUND-CLR: #000;
  --SECONDARY-FONT-CLR: #fff;

  --SMALL-FONT-SIZE: 0.8rem;
  --BORDER-RADIUS: 5px;

  --POST-CARD-TEXT-PADDING: 0 5px;

  --FADED-TEXT-OPACITY: 0.8;
}
